<?xml version="1.0" encoding="UTF-8"?>


<Configuration name="Coman">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${env:JBOSS_HOME}/standalone/log/company-manage.log"
                     filePattern="${env:JBOSS_HOME}/standalone/log/${date:yyyy-MM-dd}/company-manage.log.%d{MM-dd-yyyy}-%i">
            <PatternLayout>
                <Pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%c] (%M) - %m%n%throwable{full}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.axonactive" level="debug" additivity="false">-->
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="LogToConsole"/><!-- them dong nay thi console moi in ra logger.info -->
        </Logger>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
            <!--            <AppenderRef ref="LogToConsole"/>-->
        </Root>
    </Loggers>
</Configuration>